<h1><%= @mechanics.name %></h1>

<h4>Years of Experience: <%= @mechanics.years_of_experience %>

<div id="mechanicride_<%= @mechanics.ride.id %>">
    <h4>Ride Currently Working On: <%= @mechanics.ride.name %>
        <p>Currently Open? <%= @mechanics.ride.open %></p>
        <p>Thrill Rating: <%= @mechanics.ride.thrill_rating%></p>
</div>

<h4> Add A Ride For This Mechanic: </h4>
  <%= form_with url: "/mechanics/#{@mechanics.id}", method: :get, local: true do |f| %>
    <%= f.label :search, 'Ride Id:' %>
    <%= f.text_field :search, params: :search %>
    <%= f.submit "Submit" %>
  <% end %>